<!DOCTYPE html>
<html>
    <head>
        <title>404 Page</title>
        <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet"  href="./CSS/style.css">
        </head>

        <body>
<div class='main-content'>
    {{>header}}
        <h1>{{message}}</h1>

</div>
        {{>footer}}

        </body>
</html>