<!DOCTYPE html>
<html>
    <head>
        <title>404 Page</title>
                <link rel="icon" href="/img/weather.png">
        <script src = "/app.js"></script>

        <link rel="stylesheet"  href="/CSS/style.css">

    <body>
        <div class='main-content'>
        
        <header>
            <h1></h1>
        
            <a href = "/">Index</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        
        </header>        <h2> page not found</h2>
        </div>
        <footer><p>Created by </p></footer>
    </body>
</head>

</html>
